# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build

# JetBrains IDEs
.idea/
!**/.idea/codeStyles/
!**/.idea/inspectionProfiles/
!**/.idea/runConfigurations/
*.iml
*.iws

AlloyParser